.Title {
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
}
.Description {
  text-align: center;
  font-size: x-large;
}
.Clear {
  display: flex;
  justify-content: center;
}
.Outputs {
  margin-top: 36px;
}
